/**PASTE IN STYLESHEET MAIN**/

body {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-image: url(http://www.shoedazzle.com/images/shared/bg_page.jpg);
  background-repeat: repeat-x;
  background-position:top center;
}
#page_wrap_outer {
  min-width:940px;
  margin:auto;
  background: url(http://www.shoedazzle.com/images/shared/bg_page_wrap_outer.jpg) no-repeat scroll top center;
  _background-image: none;
  _background-color:#ffffff;
background color: #FFFFFF;
  height:100%;
  min-height:540px;
  }


/***HEADER/NAVIGATION/TABS STYLES***/
#hd {
  padding-top:10px;
  padding-bottom:10px;
  /*margin:0px 0px 0px 100px;*/
	margin: auto;
  	width:940px;  
	background color: #FFFFFF;
}
#hd a{
	background-color: #FFFFFF;
	background:#FFFFFF;
}
#hd #right{
	float:right;
	margin:0px -150px 0px 0px;
}

/***BODY STYLES***/
#bd{
  min-width:940px;
  max-width:1020px;
  margin:auto;
}

.pinkbar{
  min-width:940px;
  max-width:1020px;
  height:6px;
  margin:auto;
  margin-top:5px;
  margin-bottom:1px;  
  background-color: #FFFFFF;
/*#3864F8;*/
}
.no_margin{
  margin: 0px 0px 1px 0px;
}

/** PASTE IN STATIC STYLE SHEET **/

/***HOME PAGE***/
#home #bd {
	padding-top:0;
}

#container_bg {
  position:relative;
}
#container_main,
#normal_content {
	position:relative;
	width:1020px;
	height:435px;
	margin:auto;
}
#facebook {
	position:absolute;
	top:500px;
	left:80px;
}

#get_started{
	position:absolute;
	top:120px;
	left:310px;
}

#button{
	position:absolute;
	top:400px;
	left:600px;
}

#text{
	font-family: Helvetica, Arial, sans-serif;
	position:absolute;
	top:295px;
	left:100px;
	right: 70px;
	font-size:13pt;
	text-align:left;
	line-height:120%;
	
}


/* Jens survey class*/
#surveywrapper {
  margin: 0 auto;
  text-align: left;
  width: 520px;
	float:center;
	display:block;
	position:relative;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	float: left;
	height: 30px;
	line-height: 30px;
	outline: none;
	padding: 0 11px;
	text-decoration: none;
}

#surveywrapper p ul li{
	text-align:left;
	float:left;
	position:relative
}
#surveybutton {
    display: block;
    margin: 580px 0px 0px 0px;
    }

/* MIDDLE: =middle
-----------------------------------------------------------------------------------------*/
#middle h2 {
  font-size: 32px;
  line-height: 32px;
  margin: 20px 50px 20px 50px;
}
#middle p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

#surveywrapper {

	border-radius: 5px;
	color: #FFF;
	display: inline;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	float: left;
	height: 30px;
	line-height: 30px;
	outline: none;
	padding: 0 11px;
	text-decoration: none;
}

/* Rounded Corner */
.tb5 {
	background: url(../images/textbox.gif) no-repeat;
	position:absolute;
	top:400px;
	left:100px;
	height: 100px;
	width: 500px;
}
.tb5a {
	border:0;
	width:450px;
	margin-top:10px;
	margin-left:5px;
	font-size:20pt;
	font-weight:bold;
	
}
