/* GENERAL: =general
-----------------------------------------------------------------------------------------*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
body {
  background-color: #fff;
  color: #302c25;
  font: 13px/16px HelveticaNeue, "Helvetica Neue", helvetica, arial, sans-serif;
  padding-top: 30px;
}
#wrapper {
  margin: 0 auto;
  text-align: center;
  width: 460px;
}
a { color: #0f60c7; }
a:hover { text-decoration: none; }
a img { border: none; }

/* TOP: =top
-----------------------------------------------------------------------------------------*/
#top {
  margin: 30px auto;
  overflow: hidden;
  padding: 0 15px;
}
#top h1 {
  background: url(../images/daily_logo.png) 0 0 no-repeat;
  color: #302c25;
  font-family: "ChunkFive", serif;
  font-size: 66px;
  height: 65px;
  line-height: 66px;
  margin:  0 auto;
  text-indent: -9999px;
  width: 240px;
}

/* MIDDLE: =middle
-----------------------------------------------------------------------------------------*/
#middle h2 {
  font-size: 27px;
  line-height: 32px;
  margin: 10px 0 20px 0;
}
#middle p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
#middle #get_started_btn {
  background: url(../images/get_started_btn.png) 0 0 no-repeat;
  display: block;
  height: 46px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 187px;
}
#middle #get_started_btn:hover { background: url(../images/get_started_btn.png) 0 -46px no-repeat; }
#middle #get_started_btn:focus { outline: none; }

ul#our_products {
  list-style-type: none;
  margin: 0 auto;
  text-align: left;
  width: 146px;
}
ul#our_products li {
  font-size: 14px;
  margin: 0 20px 10px 0;
  padding-left: 22px;
}
ul#our_products li#km { background: url(../images/km_favicon.png) 0 50% no-repeat; }
ul#our_products li#pp { background: url(../images/pp_favicon.png) 0 50% no-repeat; }
ul#our_products li#si { background: url(../images/si_favicon.png) 0 50% no-repeat; }

/* WUFOO FORM =wufoo_form */
#public #container { padding: 0; margin: 0;}
#public img#top { display: none; }
#public h1#logo { display: none; }
#public #form1 .info h2 {
  color: #302c25;
  font: 18px/24px HelveticaNeue, "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0 0 10px 0;
  text-align: center;
}
#public .info { border-bottom: 1px dotted #ccc; }
#public #form1 label,
#public #form1 input {
  color: #302c25;
  font: 13px/16px HelveticaNeue, "Helvetica Neue", helvetica, arial, sans-serif;
}
#public #form1 label.desc {
  font-weight: bold;
  margin-bottom: 5px;
}
#public #form1 li.buttons {
  border-top: 1px dotted #ccc;
  text-align: center;
}
