
<body>  
<link href="stylesheets/scaffold1.css" media="all" rel="stylesheet" type="text/css">
<div id="page_wrap_outer"><!--centers the pic on the page -->

<!-- All page content goes in here-->

	<div id="bd" class="section clearAfter">
        <div class="pinkbar no_margin"></div>
			<div id="container_main" class="clearAfter">
				<img src="images/landing_page_dec_v2.png"></img>
    		
	

				<body class="ss-base-body" dir="ltr"><div class="ss-form-container"> 
			

				<script type="text/javascript">var submitted=false;</script>
				<iframe name="hidden_iframe" id="hidden_iframe"
				        style="display:none;" onload="if(submitted)
				        {window.location='/thank_you.html';}">
				</iframe>


				<hr class="ss-email-break" style="display:none;">
				</div>
				<div class="ss-form"><form action="https://spreadsheets.google.com/formResponse?formkey=dG85V3FaWnMzaFA4dDNmekF3UjROUXc6MQ&amp;ifq" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">

	
				<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_9">What is your email?  We promise not to share it with anyone.
				</label>
				<label class="ss-q-help" for="entry_9"></label>
				<input type="text" name="entry.9.single" value="" class="ss-q-short" id="entry_9"></div></div></div>
				<br> <div class="errorbox-good">
					
				<input type="image" name="submit" value="submit" src="/images/btn3.png" border="0" /></div></div></form>
				
			
			</div><!--end container main-->
		</div><!--end bd-->
</div><!--end page wrap outer-->
</div>
</body>

