<body>
<!--<div id="topbar"></div>-->
<!-- BEGIN updated header -->
<div class="header_container">
    <header><a href="/" rel="home" title="Go to homepage" class="threadless">Logo Here<span></span></a>
	</header><!-- END header -->
</div><!-- END .header_container -->
<div class="content_container">
<div class="main_container home-slider">
<div class="select-banner">
	<div class="anythingSlider">
		<div class="wrapper">
			<ul>
				<li><img src="/images/homepage_version2.png" width="646" height="460" alt="" /></a></li>
			</ul>        
		</div><!--end wrapper -->
	</div> <!-- END AnythingSlider -->
	<div class="info">	<!-- this is within main_container home-slider, and then select-banner-->	
			<div class="dynamictext">Let us help you shop for clothes and accessories! 
				<br/>Step 1: What are you looking for?
				</div>
					<h2>
					
					<%= render 'form' %>
			<a href="">Get started</a></h2>
			<!--button comes with form-->
				</div>
</div><!-- /.info -->
</div><!-- /.banner -->	
</div><!-- END .content_container -->
<div class="footer_container">
      <footer>
			    <p class="copy">&copy; 2010, StyleGroupie</p>
            <!-- END .footnotes -->
        </footer><!-- END footer -->     
</div><!-- END .footer_container -->
    
</body>
