
<body>  
<link href="stylesheets/scaffold1.css" media="all" rel="stylesheet" type="text/css">
<div id="page_wrap_outer"><!--centers the pic on the page -->

<!-- All page content goes in here-->

	<div id="bd" class="section clearAfter">
        <div class="pinkbar no_margin"></div>
			<div id="container_main" class="clearAfter">
				<img src="images/landing_page_dec_v2.png"></img>
    		<div id="get_started">
				<div class="actions">
				    <%= render 'form' %>
				  </div> </div><!-- end get started-->
			<div id="facebook">	Follow Us!
					<a href="http://www.facebook.com/pages/StyleGroupie/166030753407327" target="_blank"><img  src="/images/facebook.gif" border="0"/></a>
					<a href="http://www.twitter.com/mystylegroupie" target="_blank"><img  src="/images/twitter.gif" border="0" /></a>
					<a href="http://www.youtube.com/user/stylegroupie" target="_blank"><img  src="/images/youtube.gif" border="0" /></a>

					<br/>
					<iframe src="http://www.facebook.com/plugins/like.php?href=stylegroupie.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
		</div><!--end facebook-->
			</div><!--end container main-->
		</div><!--end bd-->
</div><!--end page wrap outer-->
</div>
</body>

