<h1>StyleGroupie</h1>

<%  # create array of test options
    # refer to text by the index of the current version "session[:sess_idx]"
    # pass selected values through to database using hidden fields
 text_array = ['We’re helping you find the clothes you want! Tell us what you’re looking for and we’ll get people to assist you.', 'We’re helping you with your personal style! Tell us what you need help with and we’ll get people to assist you.'] 
 this_text = text_array[rand (2) ].to_s
%>
<p>
     <%= this_text %>
</p>

<%= render 'form' %>


