<body>  
<link href="stylesheets/scaffold1.css" media="all" rel="stylesheet" type="text/css">
<div id="page_wrap_outer"><!--centers the pic on the page -->
<div id="hd" class="section clearAfter">
		<a href="http://www.stylegroupie.com/"><img alt="StyleGroupie - find your fashion fix!" 		src="images/stylegroupiecklogo3white.png" border="0" title="StyleGroupie - find your fashion fix"></a>
	<!--Uncomment this if we want the LIKE icon w/ the number of likes we have <iframe src="http://www.facebook.com/plugins/likebox.php?id=XYZXYZXYZ&amp;width=250&amp;connections=0&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:62px;" allowTransparency="true"></iframe>-->
	
	<div id="right"> Follow Us!
		<a href="http://www.facebook.com/pages/StyleGroupie/166030753407327" target="_blank"><img  src="/images/facebook.gif" border="0"/></a>
		<a href="http://www.twitter.com/mystylegroupie" target="_blank"><img  src="/images/twitter.gif" border="0" /></a>
		<a href="http://www.youtube.com/user/stylegroupie" target="_blank"><img  src="/images/youtube.gif" border="0" /></a>
		
		<br/>
		<iframe src="http://www.facebook.com/plugins/like.php?href=stylegroupie.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
		
	</div><!--end div class right -->
</div> <!--end hd /clearAfter clas-->


<!-- All page content goes in here-->

	<div id="bd" class="section clearAfter">
        <div class="pinkbar no_margin"></div>
			<div id="container_main" class="clearAfter"><img src="images/homepageversion3.png"></img>
    		<div id="get_started">
				<div class="actions">
				    <%= render 'form' %>
				  </div> </div><!-- end get started-->
			</div><!--end container main-->
		</div><!--end bd-->
</div><!--end page wrap outer-->
 </body>
