<body>
<link href="landingpage.css" media="all" rel="stylesheet" type="text/css">
<div id="page_wrap_outer"> 
	<script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe"
	        style="display:none;" onload="if(submitted)
	        {window.location='http://www.fullfashionfix.com/thank_you.html';}">
	</iframe>
		<form action="https://spreadsheets.google.com/formResponse?formkey=dG85V3FaWnMzaFA4dDNmekF3UjROUXc6MQ&amp;ifq" method="POST" target="hidden_iframe" onsubmit="submitted=true;">

	<div id="header">
			<img  src="/images/background_front.png" border="0"/>
		<div id="logo">
			<a href="http://www.fullfashionfix.com" target="_blank"><img  src="/images/blondewithglass_2_03.jpg" border="0"/></a>
		</div>
		
		<div id="home_button"> <a href="http://wwww.fullfashionfix.com" target="_blank"><img  src="/images/blondewithglass_2_11.jpg" border="0"/> </a>
			</div>
		<div id="about_button">
			<a href="http://www.fullfashionfix.com" target="_blank"><img  src="/images/blondewithglass_2_08.jpg" border="0"/> </a>
		</div>
		<div id="blog_button">
			<a href="http://blog.fullfashionfix.com" target="_blank"><img  src="/images/blondewithglass_2_06.jpg" border="0"/> </a>
		</div>
		<div id="twitter_button">
			<a href="http://twitter.com/fullfashionfix" target="_blank"><img  src="/images/blondewithglass_2_14.jpg" border="0"/> </a>
		</div>
		<div id="fb_button">
				<a href="http://facebook.com/fullfashionfix" target="_blank"><img  src="/images/facebook_menu.jpg" border="0"/> </a>
			
		</div>
	</div>
	
	<div id="text_describe">
       <p> <b> Full Fashion Fix wants to help plus size women find their fashion fix. </b> <br/><font size=2 > <i>   Enter your email to be part of our exclusive flash sale </i> </p>
	
	</div>
	
	
	   <div id="email_enter">
		<img src="/images/textbox1.png">
		</div>

	
		<input class="tb5" type="text" name="entry.9.single" value="" id="entry_9" style="background-color:transparent; border:0px solid white;ƒ">
		



	<div id="button"><input type="image" name="submit" value="submit" src="/images/submit.png" border="0"> 
		</div>
	
	</form>
	
	<div id="likebox">
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/fullfashionfix" width="300" colorscheme="dark" show_faces="true" stream="false" header="false"></fb:like-box>
		
    </div>	

</body>

