<title>Help us help you! Please provide addition information to help improve your search results! </title> 
<link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'><link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'> 
<style type='text/css'>@import url(//themes.googleusercontent.com/fonts/css?kit=KmlWprwWCzsthLdw_vMbKmyYEEtHI9926Sks5ODBPtU);
body{background:#fff;color:#333;font-family:'Droid Sans',Arial,sans-serif;line-height:20px;padding:0}h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,td,label{line-height:20px;margin:0;padding:0}br{display:none}h1,h2,h3,h4,h5,h6{color:#000}body.ss-base-body{background:#eee;margin:0;padding:0}div.ss-form-container{border:none;border-right:2px solid #e0e0e0;margin:0;max-width:800px;padding:20px 40px 20px 20px;width:auto}h1.ss-form-title{font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:21px;line-height:30px;margin-bottom:20px}div.errorbox-bad{background:#fee;border:none;padding:0}div.errorbox-bad div.ss-form-entry{background:#fffafa;border-color:#ffe0e0}div.ss-form-entry{background:#fdfdfd;border:1px solid #f0f0f0;border-width:0 1px 1px 0;margin:0 0 20px;padding:5px 10px 10px}div.ss-section-header,div.ss-page-break{margin:40px 0 0}div.ss-section-header div.ss-form-entry,div.ss-navigate div.ss-form-entry,div.ss-page-break div.ss-form-entry{background:#fff;border:none;padding:0}h2.ss-section-title,h2.ss-page-title{background:none;font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:18px;margin:0;padding:0}div.ss-section-description{margin:0}label.ss-q-help{font-style:italic;margin:0}.ss-required-asterisk{color:#c00}input.ss-q-short{border:1px solid #ccc;height:18px}textarea.ss-q-long{border:1px solid #ccc;height:78px}select{border:1px solid #ccc;height:18px}ul.ss-choices{margin:0}li.ss-choice-item{line-height:20px;padding:0}input.ss-q-other{border:1px solid #ccc;height:18px}input.ss-q-checkbox{border:1px solid #ccc}label.ss-scalenumber{padding:0}tr,td{border-color:#f0f0f0}td.ss-scalerow{padding:0}tr.ss-grid-row-odd{background:#fdfdfd}tr.ss-grid-row-even{background:#fff}td.ss-gridrow{padding:0}td.ss-gridrow-leftlabel{padding:0}span.ss-powered-by,span.ss-terms{margin:20px 0 0}</style></head> 

<body class="ss-base-body" dir="ltr"><div class="ss-form-container"> 
<div class="ss-form-heading">
	<img src='/images/stylegroupiebluetxtwhite.jpg' /><h1 class="ss-form-title">Help us help you! Please provide additional info to help improve your search results! </h1> 
<p></p> 
 
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
        style="display:none;" onload="if(submitted)
        {window.location='/thank_you.html';}">
</iframe>

 
<hr class="ss-email-break" style="display:none;">
</div>
<div class="ss-form"><form action="https://spreadsheets.google.com/formResponse?formkey=dG85V3FaWnMzaFA4dDNmekF3UjROUXc6MQ&amp;ifq" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">

<br>
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_9">What is your email?  We promise not to share it with anyone.
</label>
<label class="ss-q-help" for="entry_9"></label>
<input type="text" name="entry.9.single" value="" class="ss-q-short" id="entry_9"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">1. What is your biggest pain point with the current plus size clothing offering?
</label>
<label class="ss-q-help" for="entry_0"></label>
<textarea name="entry.0.single" rows="8" cols="75" class="ss-q-long" id="entry_0"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-scale"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">2. Do you feel that there are enough clothing options available to plus size women? Please rank 1-5

</label>
<label class="ss-q-help" for="entry_5"></label>
<table border="0" cellpadding="5" cellspacing="0"><tr><td class="ss-scalenumbers"></td>
<td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_5_1">1</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_5_2">2</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_5_3">3</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_5_4">4</label></td> <td class="ss-scalenumbers"><label class="ss-scalenumber" for="group_5_5">5</label></td>
<td class="ss-scalenumbers"></td></tr>
<tr><td class="ss-scalerow ss-leftlabel">Definitely Yes</td>
<td class="ss-scalerow"><input type="radio" name="entry.5.group" value="1" class="ss-q-radio" id="group_5_1"></td> <td class="ss-scalerow"><input type="radio" name="entry.5.group" value="2" class="ss-q-radio" id="group_5_2"></td> <td class="ss-scalerow"><input type="radio" name="entry.5.group" value="3" class="ss-q-radio" id="group_5_3"></td> <td class="ss-scalerow"><input type="radio" name="entry.5.group" value="4" class="ss-q-radio" id="group_5_4"></td> <td class="ss-scalerow"><input type="radio" name="entry.5.group" value="5" class="ss-q-radio" id="group_5_5"></td>

<td class="ss-scalerow ss-rightlabel">Definitely No</td></tr></table></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_3">3. What do you wish there was more/less of in the plus size apparel offering?
</label>
<label class="ss-q-help" for="entry_3"></label>
<textarea name="entry.3.single" rows="8" cols="75" class="ss-q-long" id="entry_3"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">If we were to create a plus size clothing site which of the following would be your #1 choice?
</label>
<label class="ss-q-help" for="entry_6"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.6.group" value="a.	A line dedicated to plus size women that  sells fashionable items  that are on-trend and of the moment, but not too &ldquo;teen&rdquo; or old and &ldquo;dowdy.&rdquo;" class="ss-q-radio" id="group_6_1">
a.	A line dedicated to plus size women that  sells fashionable items  that are on-trend and of the moment, but not too &ldquo;teen&rdquo; or old and &ldquo;dowdy.&rdquo;</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.6.group" value="b.	A site that brings you designer labels that aren&rsquo;t usually accessible to plus size (e.g. Jcrew, Anthropoligie, Theory, Gucci, Zack Posen)." class="ss-q-radio" id="group_6_2">

b.	A site that brings you designer labels that aren&rsquo;t usually accessible to plus size (e.g. Jcrew, Anthropoligie, Theory, Gucci, Zack Posen).</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.6.group" value="c.	A site that allows you to vote on a particular item that&rsquo;s not readily available in plus size and we create it and send it to you." class="ss-q-radio" id="group_6_3">
c.	A site that allows you to vote on a particular item that&rsquo;s not readily available in plus size and we create it and send it to you.</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.6.group" value="d.	A forum that allows the plus size community to chat about fashion/fit and share recommendations on where to find the best plus size clothes." class="ss-q-radio" id="group_6_4">
d.	A forum that allows the plus size community to chat about fashion/fit and share recommendations on where to find the best plus size clothes.</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_12">Which of the above would be your #2 choice?
</label>
<label class="ss-q-help" for="entry_12"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.12.group" value="a." class="ss-q-radio" id="group_12_1">

a.</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.12.group" value="b.	" class="ss-q-radio" id="group_12_2">
b.	</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.12.group" value="c.	" class="ss-q-radio" id="group_12_3">
c.	</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.12.group" value="d.	" class="ss-q-radio" id="group_12_4">
d.	</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_7">5. What of the below are your favorite places to shop for plus size clothing?
</label>
<label class="ss-q-help" for="entry_7"></label>

<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="a.	Lane Bryant" class="ss-q-checkbox" id="group_7_1">
a.	Lane Bryant</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="b.	Torrid" class="ss-q-checkbox" id="group_7_2">
b.	Torrid</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="c.	Evans" class="ss-q-checkbox" id="group_7_3">
c.	Evans</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="d.	Old Navy" class="ss-q-checkbox" id="group_7_4">
d.	Old Navy</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="e.	Target/Walmart" class="ss-q-checkbox" id="group_7_5">
e.	Target/Walmart</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="f.	Forever 21" class="ss-q-checkbox" id="group_7_6">
f.	Forever 21</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.7.group" value="g.	Nordstrom" class="ss-q-checkbox" id="group_7_7">

g.	Nordstrom</label></li>
<li class="ss-choice-item"><input type="checkbox" name="entry.7.group" value="__option__" class="ss-q-checkbox" id="other_option:7">
<label for="other_option:7">Other:</label>
<input type="text" name="entry.7.group.other_option_" value="" class="ss-q-other"></li></ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_8">If you could wave a magic wand to improve your shopping experience for plus size apparel, what would you do?
</label>
<label class="ss-q-help" for="entry_8"></label>
<textarea name="entry.8.single" rows="8" cols="75" class="ss-q-long" id="entry_8"></textarea></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_10">What is your age?
</label>

<label class="ss-q-help" for="entry_10"></label>
<input type="text" name="entry.10.single" value="" class="ss-q-short" id="entry_10"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_11">Are you male or female?
</label>
<label class="ss-q-help" for="entry_11"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.11.group" value="male" class="ss-q-radio" id="group_11_1">
male</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.11.group" value="female" class="ss-q-radio" id="group_11_2">
female</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_13">Any other comments?

</label>
<label class="ss-q-help" for="entry_13"></label>
<textarea name="entry.13.single" rows="8" cols="75" class="ss-q-long" id="entry_13"></textarea></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">

<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>
