<div id="surveywrapper">
<div id="middle">
<p><img src='/images/stylegroupiecklogo3white.jpg'></img><p>
<h1>Help us with our survey!</h1>
<ul><li>
<h3>We want to make our service more useful for you.</h3></li></ul>
<br/><br/>
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
	style="display:none;" onload="if(submitted)
	{window.location='/thank_you.html';}">
</iframe>

<form action="https://spreadsheets.google.com/formResponse?formkey=dE04QmZ2TWsyUzRFVXFJN3puTFJNSmc6MQ&amp;ifq" method="post" target="hidden_iframe" onsubmit="submitted=true;">
	<label for="entry_1"></label>
	<input type="hidden" name="entry.1.single" value="<%= @post.email %>"  id="entry_1">
	<label for="entry_0"></label>
	<input type="hidden" name="entry.0.single" value="<%= @post.question %>" id="entry_0">
<br/><br/>
<p>	
	<label for="entry_2">
		<br/>
1) How much time (in hours) do you spend searching for clothing on-line (e.g khaki pants/cocktail dress) per month?*
	</label>
	<input type="text" name="entry.2.single" value="" id="entry_2"></input>
</p>
<p>
	<label for="entry_3">2) If someone is helping you shop for clothing, what&#39;s the #1 thing for them to focus on?*</label>
	<ul>
		<li><label><input type="radio" name="entry.3.group" value="a.	Someone that understands my fit/body type" id="group_3_1">Someone that understands my fit/body type</label>
		</li> 
		<li><label><input type="radio" name="entry.3.group" value="c.	Someone who is a professional stylist or has a lot of expertise in the field" id="group_3_3">Someone who is a professional stylist or has a lot of expertise in the field</label>
		</li>
		<li><label><input type="radio" name="entry.3.group" value="d.	Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier" id="group_3_4">
			Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier</label>
		</li> 
		<li><label><input type="radio" name="entry.3.group" value="e.	Someone who recommends items that fit my budget"  id="group_3_5">
			Someone who recommends items that fit my budget</label>
			</li>
			<li><label><input type="radio" name="entry.3.group" value="b.	Someone that understands my personal style" id="group_3_2">	Someone that understands my personal style</label>
			</li>
	</ul>
</p>

<p>
<br />
	<label for="entry_4">3) What&#39;s the #2 most important thing for them to focus on?*</label>
	<ul>
		<li><label><input type="radio" name="entry.4.group" value="a.	Someone that understands my fit/body type" id="group_4_1">
			Someone that understands my fit/body type</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="b.	Someone that understands my personal style" id="group_4_2">
			Someone that understands my personal style</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="c.	Someone who is a professional stylist or has a lot of expertise in the field"  id="group_4_3">
			Someone who is a professional stylist or has a lot of expertise in the field</label></li>
		<li><label><input type="radio" name="entry.4.group" value="d.	Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier"  id="group_4_4">
			Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="e.	Someone who recommends items that fit my budget"  id="group_4_5">
			Someone who recommends items that fit my budget</label></li>
	</ul>
<br />
</p>

<p>
<br />
	<label for="entry_5">4) If someone knew your personal style, body type, and budget and provided a list of top matches, would you pay for this?*</label>
	<ul>
		<li><label><input type="radio" name="entry.5.group" value="Yes" id="group_5_1"> Yes</label></li> 
		<li><label><input type="radio" name="entry.5.group" value="No" id="group_5_2">No</label></li>
	</ul>
<br />
</p>

<p>
<br />
	<label for="entry_6">5) Would you be willing to make recommendations and help others shop for clothing items on-line?*</label>
	<ul>
		<li><label><input type="radio" name="entry.6.group" value="Yes" id="group_6_1">Yes</label></li> 
		<li><label><input type="radio" name="entry.6.group" value="No" id="group_6_2">No</label></li>
	</ul>
<br />
</p>

<br /><br />

<p>
	<br />
	<div id="surveybutton">
		<input type="submit" name="submit" value="Submit">
	</div>
	<br />
</p>

</div> <!-- /#middle --> 
</div> <!-- /#wrapper -->


</form>









