<div id="wrapper">
<div id="middle">



    <h2>Help us build something you want!</h2>
    <p style="margin-bottom: 0;">We&rsquo;re getting ready to launch and want to make our service more useful for you.</p>


	<script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe"
	style="display:none;" onload="if(submitted)
	{window.location='http://smooth-galaxy-24.heroku.com/';}"></iframe>
	
	<form action="https://spreadsheets.google.com/formResponse?formkey=dE04QmZ2TWsyUzRFVXFJN3puTFJNSmc6MQ&amp;ifq" method="post" target="hidden_iframe" onsubmit="submitted=true;">

<br>

<p>
	<label for="entry_1"></label>"
	<input type="hidden" name="entry.1.single" value="<%= @post.email %>"  id="entry_1">

	<label for="entry_0"></label>
	<input type="hidden" name="entry.0.single" value="<%= @post.question %>" id="entry_0">
</p>

<p>
	<label for="entry_2">How much time do you spend searching for clothing on-line (e.g khaki pants/cocktail dress)?*</label>
	<input type="text" name="entry.2.single" value="" id="entry_2">

</p>

<p>
<br>
	<label for="entry_3">If someone is helping you shop for clothing, what&#39;s the #1 thing for them to focus on?*</label>
	<ul>
		<li><label><input type="radio" name="entry.3.group" value="a.	Someone that understands my fit/body type" id="group_3_1">
			Someone that understands my fit/body type</label></li> 
		<li><label><input type="radio" name="entry.3.group" value="b.	Someone that understands my personal style" id="group_3_2">
			Someone that understands my personal style</label></li> 
		<li><label><input type="radio" name="entry.3.group" value="c.	Someone who is a professional stylist or has a lot of expertise in the field" id="group_3_3">
			Someone who is a professional stylist or has a lot of expertise in the field</label></li>
		<li><label><input type="radio" name="entry.3.group" value="d.	Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier" id="group_3_4">
			Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier</label></li> 
		<li><label><input type="radio" name="entry.3.group" value="e.	Someone who recommends items that fit my budget"  id="group_3_5">
			Someone who recommends items that fit my budget</label></li>
	</ul>
<br>
</p>

<p>
<br>
	<label for="entry_4">What&#39;s the #2 most important thing for them to focus on?*</label>
	<ul>
		<li><label><input type="radio" name="entry.4.group" value="a.	Someone that understands my fit/body type" id="group_4_1">
			Someone that understands my fit/body type</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="b.	Someone that understands my personal style" id="group_4_2">
			Someone that understands my personal style</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="c.	Someone who is a professional stylist or has a lot of expertise in the field"  id="group_4_3">
			Someone who is a professional stylist or has a lot of expertise in the field</label></li>
		<li><label><input type="radio" name="entry.4.group" value="d.	Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier"  id="group_4_4">
			Someone who can reduce the &ldquo;clutter&rdquo; to make my shopping easier</label></li> 
		<li><label><input type="radio" name="entry.4.group" value="e.	Someone who recommends items that fit my budget"  id="group_4_5">
			Someone who recommends items that fit my budget</label></li>
	</ul>
<br>
</p>

<p>
<br>
	<label for="entry_5">If someone knew your personal style, body type, and budget and provided a list of top matches, would you pay for this?*</label>
	<ul>
		<li><label><input type="radio" name="entry.5.group" value="Yes" id="group_5_1"> Yes</label></li> 
		<li><label><input type="radio" name="entry.5.group" value="No" id="group_5_2">No</label></li>
	</ul>
<br>
</p>

<p>
<br>
	<label for="entry_6">Would you be willing to make recommendations and help others shop for clothing items on-line?*</label>
	<ul>
		<li><label><input type="radio" name="entry.6.group" value="Yes" id="group_6_1">Yes</label></li> 
		<li><label><input type="radio" name="entry.6.group" value="No" id="group_6_2">No</label></li>
	</ul>
<br>
</p>

<br><br>


<p><input type="submit" name="submit" value="Submit">
</p>
</form>
  </div><!-- /#middle -->
</div><!-- /#wrapper -->





