<title>Help us help you! Please provide addition information to help improve your search results! </title> 
<link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'><link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'> 
<style type='text/css'>@import url(//themes.googleusercontent.com/fonts/css?kit=KmlWprwWCzsthLdw_vMbKmyYEEtHI9926Sks5ODBPtU);
body{background:#fff;color:#333;font-family:'Droid Sans',Arial,sans-serif;line-height:20px;padding:0}h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,td,label{line-height:20px;margin:0;padding:0}br{display:none}h1,h2,h3,h4,h5,h6{color:#000}body.ss-base-body{background:#eee;margin:0;padding:0}div.ss-form-container{border:none;border-right:2px solid #e0e0e0;margin:0;max-width:800px;padding:20px 40px 20px 20px;width:auto}h1.ss-form-title{font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:21px;line-height:30px;margin-bottom:20px}div.errorbox-bad{background:#fee;border:none;padding:0}div.errorbox-bad div.ss-form-entry{background:#fffafa;border-color:#ffe0e0}div.ss-form-entry{background:#fdfdfd;border:1px solid #f0f0f0;border-width:0 1px 1px 0;margin:0 0 20px;padding:5px 10px 10px}div.ss-section-header,div.ss-page-break{margin:40px 0 0}div.ss-section-header div.ss-form-entry,div.ss-navigate div.ss-form-entry,div.ss-page-break div.ss-form-entry{background:#fff;border:none;padding:0}h2.ss-section-title,h2.ss-page-title{background:none;font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:18px;margin:0;padding:0}div.ss-section-description{margin:0}label.ss-q-help{font-style:italic;margin:0}.ss-required-asterisk{color:#c00}input.ss-q-short{border:1px solid #ccc;height:18px}textarea.ss-q-long{border:1px solid #ccc;height:78px}select{border:1px solid #ccc;height:18px}ul.ss-choices{margin:0}li.ss-choice-item{line-height:20px;padding:0}input.ss-q-other{border:1px solid #ccc;height:18px}input.ss-q-checkbox{border:1px solid #ccc}label.ss-scalenumber{padding:0}tr,td{border-color:#f0f0f0}td.ss-scalerow{padding:0}tr.ss-grid-row-odd{background:#fdfdfd}tr.ss-grid-row-even{background:#fff}td.ss-gridrow{padding:0}td.ss-gridrow-leftlabel{padding:0}span.ss-powered-by,span.ss-terms{margin:20px 0 0}</style></head> 

<body class="ss-base-body" dir="ltr"><div class="ss-form-container"> 
<div class="ss-form-heading">
	<img src='/images/stylegroupiebluetxtwhite.jpg' /><h1 class="ss-form-title">Help us help you! Please provide additional info to help improve your search results! </h1> 
<p></p> 
 
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
        style="display:none;" onload="if(submitted)
        {window.location='/thank_you.html';}">
</iframe>

 
<hr class="ss-email-break" style="display:none;"> 
<div class="ss-required-asterisk">* Required</div></div> 
<div class="ss-form"><form action="https://spreadsheets.google.com/formResponse?formkey=dGE0VXdYQ292eEpVTnJyZXJpUWhtVmc6MQ&amp;theme=0AX42CRMsmRFbUy1iOGYwN2U2Mi1hNWU0LTRlNjEtYWMyOC1lZmU4ODg1ODc1ODI&amp;ifq" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;"> 
 
<br> 
<div class="errorbox-good"> 
<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">Email
<span class="ss-required-asterisk">*</span></label> 
<label class="ss-q-help" for="entry_6">Your email address will be kept private. It will only be used to contact you once our Stylegroupies begin their work to help you!  You will be able to opt out at any time.</label> 
<input type="text" name="entry.6.single" value="" class="ss-q-short" id="entry_6"></div></div></div>
<br> <div class="errorbox-good"> 
<div class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_7">What are you looking for?
<span class="ss-required-asterisk">*</span></label> 
<label class="ss-q-help" for="entry_7">e.g navy blazer, sequin top, etc.</label> 
<textarea name="entry.7.single" rows="8" cols="75" class="ss-q-long" id="entry_7"></textarea></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">How much do you want to spend on the item you&#39;re looking for?
</label> 
<label class="ss-q-help" for="entry_0"></label> 
<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Which celebrity&#39;s style do you identify most with?
</label> 
<label class="ss-q-help" for="entry_1"></label> 
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Kate Moss" class="ss-q-checkbox" id="group_1_1"> 
Kate Moss</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Reese Witherspoon" class="ss-q-checkbox" id="group_1_2"> 
Reese Witherspoon</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Rachel Bilson" class="ss-q-checkbox" id="group_1_3"> 
Rachel Bilson</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Victoria Beckham" class="ss-q-checkbox" id="group_1_4"> 
Victoria Beckham</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.1.group" value="Sarah Jessica Parker" class="ss-q-checkbox" id="group_1_5"> 
Sarah Jessica Parker</label></li> 
</ul></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Don&#39;t identify with any of the celebs above?! Tell us about yourself!
</label> 
<label class="ss-q-help" for="entry_4"></label> 
<input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4"></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">How would you describe your body type?
</label> 
<label class="ss-q-help" for="entry_2"></label> 
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="Rectangle (very little variation between your waist, hips, bust)" class="ss-q-radio" id="group_2_1"> 
Rectangle (very little variation between your waist, hips, bust)</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="Hour Glass (curvy hips and bust)" class="ss-q-radio" id="group_2_2"> 
Hour Glass (curvy hips and bust)</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="Pear Shape (larger hips than upper body)" class="ss-q-radio" id="group_2_3"> 
Pear Shape (larger hips than upper body)</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.2.group" value="Inverted Triangle (broader shoulders)" class="ss-q-radio" id="group_2_4"> 
Inverted Triangle (broader shoulders)</label></li> 
<li class="ss-choice-item"><input type="radio" name="entry.2.group" value="__option__" class="ss-q-radio" id="other_option:2"> 
<label for="other_option:2">Other:</label> 
<input type="text" name="entry.2.group.other_option_" value="" class="ss-q-other"></li></ul></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_11">What is your height?
</label> 
<label class="ss-q-help" for="entry_11"></label> 
<input type="text" name="entry.11.single" value="" class="ss-q-short" id="entry_11"></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-title" for="entry_12">What is your weight (in pounds)?
</label> 
<label class="ss-q-help" for="entry_12"></label> 
<select name="entry.12.single" id="entry_12"><option value="Under 100">Under 100</option> <option value="101-115">101-115</option> <option value="116-125">116-125</option> <option value="126-140">126-140</option> <option value="141-160">141-160</option> <option value="161-180">161-180</option> <option value="181-200">181-200</option> <option value="200-220">200-220</option> <option value="220 and up">220 and up</option></select></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_9">What color is your hair?
</label> 
<label class="ss-q-help" for="entry_9"></label> 
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Black" class="ss-q-radio" id="group_9_1"> 
Black</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Dark Brown" class="ss-q-radio" id="group_9_2"> 
Dark Brown</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Light Brown" class="ss-q-radio" id="group_9_3"> 
Light Brown</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Dirty Blonde" class="ss-q-radio" id="group_9_4"> 
Dirty Blonde</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Light Blonde" class="ss-q-radio" id="group_9_5"> 
Light Blonde</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Strawberry Blonde" class="ss-q-radio" id="group_9_6"> 
Strawberry Blonde</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.9.group" value="Red" class="ss-q-radio" id="group_9_7"> 
Red</label></li> 
</ul></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_10">What color are your eyes?
</label> 
<label class="ss-q-help" for="entry_10"></label> 
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.10.group" value="Blue" class="ss-q-radio" id="group_10_1"> 
Blue</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.10.group" value="Brown" class="ss-q-radio" id="group_10_2"> 
Brown</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.10.group" value="Green" class="ss-q-radio" id="group_10_3"> 
Green</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.10.group" value="Hazel" class="ss-q-radio" id="group_10_4"> 
Hazel</label></li> 
</ul></div></div></div> 
<br> <div class="errorbox-good"> 
<div class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_5">Is there anything else other Stylegroupies should know before they start your search?
</label> 
<label class="ss-q-help" for="entry_5">e.g. I look terrible in anything strapless, etc.</label> 
<textarea name="entry.5.single" rows="8" cols="75" class="ss-q-long" id="entry_5"></textarea></div></div></div> 
<br> 
<input type="hidden" name="pageNumber" value="0"> 
<input type="hidden" name="backupCache" value=""> 
 
<div class="ss-item ss-navigate"><div class="ss-form-entry"> 
<input type="submit" name="submit" value="Submit"></div></div></form>
